@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');


/*Superinfo*/

.superinfo-bg{
    background: $blue;
    color: white;
}

.superinfo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    a{
        color:white;
    }
    p, a{
        margin: 0 10px 10px 10px;
    }
}


.menu-bg{
    background: $blue-clean;
    .menu{
        max-width: 960px;
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
        a{
            color: white;
        }
    
        .menu-logo{
            font-size: 36px;
            font-weight: bold;
            margin: 0 10px;
        }
    
        .menu-nav{
            ul{
                display: flex;
                flex-wrap: wrap;
            }

            a{
                font-size: 20px;
                display: block;
                padding: 10px;

                &:hover{
                    color: $blue;
                }
            }
        }
    
    }
}

.intro{
    font-size: 48px;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}


.about{
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: flex;

    .about-info{
        flex: 2 1 300px;
        margin: 0 10px;

    h1{
        font-size: 48px;
        margin-bottom: .5em;
    }    

    p{
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 1em;
        color: $grey;
    }

    }

    .about-img{
        flex: 1 1 160px;
        margin: 0 10px
    }

}

.products{
    max-width: 960px;
    margin: 60px auto;

    h1{
        font-size: 3em;
        margin: 0 10px 60 10px;
    }

    .products-container{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .products-item{
            flex: 1 1 175px;
            margin: 10px;

            h2{
                font-size: 48px;
                color: $grey-clean;
                background: #f7f7f7;
                padding: 60px 20px;
            }
        }
        .blue{
            @include border($blue-border);
        }
        
        .pink{
            @include border($pink);
        }
        .purple{
            @include border($purple);
        }
    }

}


